


<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5" style="text-align:center  ">

                            <!-- search bar goes here-->
                            <div class="alert alert-primary" role="alert">
                                <strong>Cherchant Un Docteur ?!</strong>
                            </div>
                            <form [formGroup]="myForm">
                                <div class="row">
                                    <div class="col-md-3" style="text-align:center">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                                </div>
                                                <input class="form-control" placeholder="Code Postal" type="text" formControlName="codePostal">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="text-align:center">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                                </div>
                                                <input class="form-control" placeholder="Ville" type="text" formControlName="ville">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3" style="text-align:center">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Specialite</span>
                                                </div>
                                                <select class="form-control" placeholder="Specialite" formControlName="specialite">
                                                    <option class="form-control" value="genecologue">Genecologue</option>
                                                    <option class="form-control" value="chirugien">Chirugien</option>
                                                    <option class="form-control" value="othopediste">Orthopediste</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="text-align:center">
                                        <button class="btn btn-danger " (click)="reset()">Reset</button>  
                                    </div>
                                    
                                </div>
                            </form>
                            <div  style="text-align:center">


                            </div>



                        </div>
                        <div class="card-body px-lg-5 py-lg-5">

                            <!-- table of results goes here-->
                            <table class="table table-bordered">
                                <thead >
                                    <tr class="bg-info" style="text-align:center">
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prenom</th>
                                        <th scope="col">Telephone</th>
                                        <th scope="col">Rendez-vs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let doctor of filterDoctors();let i=index" style="text-align:center">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{doctor.nom}}</td>
                                        <td>{{doctor.prenom}}</td>
                                        <td>{{doctor.telephone}}</td>
                                        <td><button class="btn btn-success btn-sm" >Reserver</button></td>
                                    </tr>
                                   
                                </tbody>
                            </table>


                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
</main>
